{% extends "base.html" %}
{% block title %}
  {% if '/edit_comment/' in request.path %}
    Редактирование комментария
  {% elif '/delete_comment/' in request.path %}
    Удаление комментария
  {% else %}
    Добавление комментария
  {% endif %}
{% endblock %}
{% block content %}
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
      <div class="card-header">
        {% if '/edit_comment/' in request.path %}
          Редактирование комментария
        {% elif '/delete_comment/' in request.path %}
          Удаление комментария
        {% else %}
          Добавление комментария
        {% endif %}
      </div>
      <div class="card-body">
        <form method="post">
          {% csrf_token %}
          
          {% if '/delete_comment/' in request.path %}
            <p>{{ comment.text }}</p>
            <p class="text-danger">Вы уверены, что хотите удалить этот комментарий?</p>
            <button type="submit" class="btn btn-danger">Удалить</button>
            <a href="{% url 'blog:post_detail' post.id %}" class="btn btn-secondary">Отмена</a>
          {% else %}
            {% for field in form %}
              <div class="form-group mb-3">
                <label for="{{ field.id_for_label }}" class="form-label">
                  {{ field.label }}
                </label>
                {{ field }}
                {% if field.errors %}
                  <div class="alert alert-danger mt-1">
                    {{ field.errors }}
                  </div>
                {% endif %}
              </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">
              {% if '/edit_comment/' in request.path %}Сохранить{% else %}Отправить{% endif %}
            </button>
            <a href="{% url 'blog:post_detail' post.id %}" class="btn btn-secondary">Отмена</a>
          {% endif %}
        </form>
      </div>
    </div>
  </div>
{% endblock %}